Django==1.6.11
django-extensions
django-sendfile
Werkzeug
psycopg2
gunicorn
dropbox
django-dirtyfields
django-storages
django-user-sessions
django-cors-headers
six==1.6.0
django-filter
django-grappelli==2.5.7
django-model_utils
django-dbbackup
django-user-agents
south
redis

sorl-thumbnail

git+git://github.com/disqus/django-bitfield.git#django-bitfield
git+git://github.com/Azure/azure-sdk-for-python.git#azure
git+git://github.com/tschellenbach/Django-facebook.git#django-facebook
git+git://github.com/llazzaro/django-scheduler.git#django-scheduler
git+git://github.com/omab/python-social-auth.git#egg=python-social-auth
django-allauth
apache-libcloud
mandrill
djrill

djangorestframework==3.1.3
djangorestframework-jwt==1.6.0
drf-nested-routers
django-celery
pillow
django-gravatar2

mutagen

django-enumfield

ipython
ipdb
