Django==2.1.2
django-extensions
django-sendfile
Werkzeug
psycopg2
gunicorn
dropbox
django-dirtyfields
django-storages
django-user-sessions
django-cors-headers
six
django-filter
django-grappelli
django-model_utils
redis
git+git://github.com/llazzaro/django-scheduler.git#django-scheduler

git+git://github.com/pythonforfacebook/facebook-sdk.git#facebook-sdk
google-api-python-client

django-celery
django-scheduler
django-recurrence
django-compressor

azure
azure-storage==0.20.0

sorl-thumbnail

git+git://github.com/disqus/django-bitfield.git#django-bitfield
git+git://github.com/tschellenbach/Django-facebook.git#django-facebook
git+git://github.com/omab/python-social-auth.git#python-social-auth
social-auth-app-django

django-dbbackup

django-allauth==0.38.0
apache-libcloud
mandrill
djrill

djangorestframework
djangorestframework-jwt
drf-nested-routers
pillow
django-gravatar2

mutagen

django-enumfield

ipython
ipdb
beautifulsoup4
django-pipeline
django-pipeline-forgiving

requests-oauthlib
