Django==1.8.4
django-extensions
django-sendfile
Werkzeug
psycopg2
gunicorn
dropbox
django-dirtyfields
django-storages
django-user-sessions
django-cors-headers
six==1.6.0
django-filter
django-grappelli==2.5.7
django-model_utils
redis
git+git://github.com/llazzaro/django-scheduler.git#django-scheduler
django-celery
django-scheduler
django-recurrence
azure

sorl-thumbnail

git+git://github.com/disqus/django-bitfield.git#django-bitfield
git+git://github.com/tschellenbach/Django-facebook.git#django-facebook
python-social-auth
django-allauth
apache-libcloud
mandrill
djrill

celery

djangorestframework==3.1.3
djangorestframework-jwt==1.6.0
drf-nested-routers
pillow
django-gravatar2

mutagen

django-enumfield

ipython
ipdb
beautifulsoup4
django-pipeline
django-pipeline-forgiving