{% extends 'embedding/master.html' %}
{% load pipeline %}
{% block css %}
    {% stylesheet 'embedding' %}
{% endblock %}
{% block content %}
    <div id="uniquePlayer-1" class="webPlayer {{ theme }} audioPlayer">
        <div id="uniqueContainer-1" class="videoPlayer"></div>
    </div>
    <aside>Content provided by <a href="http://deepsouthsounds.com" target="_blank">Deep South Sounds</a> </aside>
{% endblock %}

{% block scripts %}
    {% javascript 'embedding' %}
    <script>
        $(document).ready(function () {
            $('.webPlayer').videoPlayer({
                name: '{{ title }}',
                url: '{{ mix_url }}',
                media: {
                    mp3: '{{ audio_url }}'
                },
                size: {
                    width: '600px'
                }
            });
        });
    </script>
{% endblock %}